<%- include ../layouts/header.ejs %>
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	
<div style="border:1px solid #ccc;">


<table class="table table-hover">
	<thead >
		<tr style="background-color:#8c9499;color:#fff">
     	<th scope="col" style="padding-left:10px;">Phrase</th>
	  	<th scope="col">Response</th>
   		<th scope="col">Select Existing Intent</th>
   		<th scope="col">Enter New Intent</th>
  		<th scope="col">Action</th>
	  </tr>
  </thead>
	<tbody>
		<% if (data) { %>
			<% data.forEach(function(question){ %>
				<tr>
					<span><input type="hidden" name="que_id" id="que_id" value="<%= question.id%>"></span>
					<td>
						<div style="font-weight:bold;font-size:14px; padding-left:10px;" id="question-<%= question.id%>"><%= question.question %><br/></div>
						<% if(question.sub_questions.lenght != 0) { %>
							<ul class="sub_questions_<%= question.id %>">
									<% for(var i=0; i < question.sub_questions.length; i++) { %>
										<li style="font-size:14px;" id="<%= question.sub_questions[i].split('_')[1] %>"><%= question.sub_questions[i].split('_')[0] %></li>
									<% } %>
							</ul>
						<% } %>
					</td>
					<td id="answer-<%= question.id%>"><%= question.answer %></td>
					<td>
		    		<select class="selectpicker" name="intent" id="select_int-<%= question.id%>">  
			      	<ul>
				        <option value="">Select Intent</option>
				        <% intent_details.forEach((intent) => { %>
				         	<% if( intent["name"] == question.intent){ %>
									  <option value="<%= intent["id"]%>" selected="selected"><%= intent["name"] %></option>
									 <% } else{ %>  
									    <option value="<%= intent["id"]%>"><%= intent["name"] %></option>
									<% } %>				         
				        <% }) %>
				      </ul>
		    		</select>
   				</td>
   				<td>
   					<% if(question.intent){ %>
							<input type="text" class="form-control new_int-" name="intent" id="intent-<%= question.id%>" value="<%= question.intent %>" disabled/>
						 <% } else{ %>  
						  <input type="text" class="form-control new_int-" name="intent" id="intent-<%= question.id%>"/>
						<% } %>							
					</td>
					<td>
						<button  class="btn btn-info btncls" id="<%= question.id %>" value="<%= question.intent%>">Create Intent</button>
						<button type="button" class="btn btn-info model_btn" id="<%= question.id%>" data-toggle="modal">Edit</button>
					</td>
					 
				</tr>
			<% }) %>
		<% } %>
	</tbody>
</table>
<div>
	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    	
      <!-- Modal content-->
      <div class="modal-content">
      	<form id='myForm'>
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Query Update Form</h4>
	        </div>
	        <div class="modal-body">
	        </div>
	        <div class="modal-footer">
	        </div>
	      </form>
      </div>      
    </div>
  </div>


<%- include ../layouts/footer.ejs %>

<script>
$(document).ready(function(){
	
	// creating intent 
	$(".btncls").on("click", function () {
		var que_id = $(this).attr('id');
		var intent = $('#intent-'+ que_id).val();
		var sel_int =$("#select_int-"+ que_id +" :selected").text();
		var sel_int_id = $('#select_int-'+ que_id).val();
		$.ajax({
	    url : 'questions/add/intent',
	    type : 'POST',
	    data : {
	        'intent' : intent,
	        'que_id' :	que_id,
	        'intent_id' : sel_int_id
	    },
	    success : function(data) {              
	      alert("Successfully Intent Created");
	      window.location.reload();
	    },
	    error : function(request,error)
	    {
	    	console.log("error");
	      alert("Something went wrong");
	    }
		});
	});

	// Modal popup form is generating 
	$(".model_btn").on("click", function () {
		var que_id = $(this).attr('id');
		var question = $('#question-'+ que_id).text();
		var answer = $('#answer-'+ que_id).text();
		var html = ""
		html += "Phrase : <input type='text' class='form-control' name='question' id='que_"+que_id+"' value='"+question+"'/>";
		html += "Response : <input type='text' class='form-control' name='answer' id='ans_"+que_id+"' value='"+answer+"'/>";
		html += "Sub phrases :"
		$('.sub_questions_' + que_id +' li').each(function(){
			var sub_id = $(this).attr('id');
      var text = $(this).text();
      html += "<input type='text' class='form-control' name='sub_questions-"+[sub_id]+"' id='sub_"+sub_id+"' value='"+text+"'/>";
		});
		$(".modal-body").html(html);
		$(".modal-footer").html('<button type="button" class="btn btn-default fm-btn" id="form_'+que_id+'">Update</button>');
		$('#myModal').modal('show');
	});

	// Modal popup submition form
  $(document).on('click','.fm-btn',function(){
    var que_id = $(this).attr('id').split('_')[1];
    var question = {};
    var sub_questions = []
		$.each($('#myForm').serializeArray(), function(i, field) {
			queries = []
			if (i < 2) {
			  question[field.name] = field.value;
			} else {
			  sub_questions.push ({
			  	id: field.name.split('-')[1],
			  	question: field.value
			  })
			}
		});
		$.ajax({
	    url : 'questions/edit',
	    type : 'POST',
	    data : {
	        'que_id' :	que_id,
	        'question' : question,
	        'sub_questions' : sub_questions
	    },
	    success : function(data) {              
	      alert("Successfully Intent Created");
	      console.log("success");
	      $(".modal-bod").html('<a id="prev" title="Previous Slide">Previous Slide</a><a id="next" title="Next Slide">Next Slide</a>');
	    },
	    error : function(request,error)
	    {
	    	console.log("error");
	      alert("Something went wrong");
	    }
		});
  });

});
</script>


