<%- include ../layouts/header.ejs %>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	


  <div class="form-group">
    <label for="email">Intent</label>
    <%= question[0]["intent"] %>
  </div>

  <div class="form-group">
    <label for="answer">Query</label>
    <%= question[0]["que"]%>
  </div>

  <div class="form-group">
    <label for="answer">Response:</label>
    <%= question[0]["res_array"]%>
  </div>

  <form action="/questions/add_response" method="POST">
    <div class="form-group">
      <input type="hidden" class="form-control" id="res_obj" name="res_obj" value="<%= req_obj %>" />
      <label for="answer">Add Response:</label>
      <input type="hidden" class="form-control" id="intent_id" name="intent_id" value="<%= question[0]["intent_id"]%>" />
		  <input type="text" class="form-control" id="response" name="response" />
    </div>
    <button type="submit" class="btn btn-primary" name="Submit" value="Add">Submit</button>
  </form>

<%- include ../layouts/footer.ejs %>


